*{
    box-sizing:border-box;
}
@font-face {
    src: url(fonts/Roboto-Medium.ttf);
    font-family:Roboto;
}
@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family:Roboto-Regular;
}
@font-face {
    src: url(fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
    font-family:OpenSans;
}
body{
    background-color:hsl(120, 3%, 6%);
}
.icons img{
    display:inline-block;
    height: 30px;
    width:34px;
    border-radius: 10px;
    margin-left:30px;
}
.icons img:hover{
    font-size:2em;
    background-color:hsl(180, 43%, 15%);
    animation-name:glow,slideup;
    animation-duration:2s;
    animation-iteration-count: infinite;
    padding:0px;
}
.icons .navbar{
    float:right;
}
.icons h1{
    color:hsl(138, 54%, 44%);
    font-family:Roboto;
    font-size:1.7em;
    display:inline-block;
    margin-left:1px;
    padding:8px;
}
.navbar ul{
    list-style-type: none;
    padding:0;
    margin:10;
    margin-right:50px;
    height:50px;
    overflow:hidden;
}
.navbar a{
    text-decoration: none;
    color:hsl(0, 4%, 95%);
    text-align:center;
    display:block;
    padding:17px;
    font-size:27px;
}
.navbar a:hover{
    color:rgb(14, 226, 14);
    animation-name: glow2,glow3,glow4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.navbar li{
    float:left;
}
.intro .pic{
    margin-left:70px;
    margin-right:10px;
    margin-top:20px;
    display:inline-block;
    flex-wrap:wrap;
}
.intro .pic img{
    height:320px;
    width:500px;
    margin-left:40px;
    border-radius:50px;
    border-left: 3px solid hsl(120, 58%, 65%);
    border-right: 3px solid hsl(120, 57%, 66%);
}
.intro img:hover{
    border-left: 4px solid hsl(120, 6%, 93%);
    border-right: 4px solid hsl(120, 16%, 96%);
    animation-name:glow;
    animation-duration:5s;
    animation-iteration-count: infinite;
}
.intro .body{
    width:600px;
    margin-top:0px;
    margin-right: 80px;
    display:flex;
    flex-wrap:wrap;
    float:right;
    justify-content:center;
    align-items:center;
}
.body .textss h1{
    font-family:Roboto;
    font-size:4.7em;
    color:hsl(0, 0%, 100%);
    margin-left:0px;
    margin-bottom:2px;
}
.body .textss h2{
    font-size:2.6em;
    font-family:Roboto;
    font-weight: bold;
    margin-top:0px;
    margin-left:2px;
    color:white;
    margin-bottom: 0px;
}
#mahname{
    font-family:Roboto;
    font-weight: bold;
    font-size:1.2em;
    color:rgb(48, 187, 48);
    margin-bottom: 0px;
}
.quote #quote{
    font-size:1em;
    font-family:Roboto;
    color:hsl(120, 58%, 65%);
    margin-top:10px;
    display:flex;
    width:100px;
    opacity:70%;
}
.quote #quote:hover{
    animation-name:fade;
    animation-duration: 2s;
}
.body .textss h3{
    font-size:2.2em;
    margin-top:12px;
    font-family:Roboto;
    font-weight: bold;
    margin-left:2px;
    margin-bottom:0px;
    color:white;
}
.body .icons{
    margin-top:5px;
}
.intro .body .icons a{
    text-decoration:none;
    margin-right:60px
}
.icons .fa-brands.fa-instagram.fa-3x{
    color:rgb(173, 63, 127);
}
.icons .fa-brands.fa-twitter.fa-3x{
    color:rgb(86, 192, 241);
}
.icons .fa-brands.fa-linkedin.fa-3x{
    color:#0077b5;
}
.icons .fa-brands.fa-github.fa-3x{
    color:rgb(63, 62, 62);
}
.icons .fa-brands.fa-facebook.fa-3x{
    color:#316FF6;
}
.icons .fa-brands.fa-instagram.fa-3x:hover{
    animation-name:rotateY,glow2;
    animation-duration:3s;
}
.icons .fa-brands.fa-twitter.fa-3x:hover{
    animation-name:rotateY,glow2;
    animation-duration:3s;
}
.icons .fa-brands.fa-linkedin.fa-3x:hover{
    animation-name:rotateY,glow2;
    animation-duration:3s;
}
.icons .fa-brands.fa-github.fa-3x:hover{
    animation-name:rotateY,glow2;
    animation-duration:3s;
}
.icons .fa-brands.fa-facebook.fa-3x:hover{
    animation-name:rotateY,glow2;
    animation-duration:3s;
}
.icons .fa-solid.fa-envelope.fa-3x{
    color:rgb(127, 236, 231);
}
.icons .fa-solid.fa-envelope.fa-3x:hover{
    animation-name:rotateY,glow2;
    animation-duration:3s;
}
.skillset .header .header1{
    color:rgb(28, 219, 28);
    cursor: pointer;
    padding:1px 1px;
    position: relative;
    font-size:2.5em;
    text-align:center;
    font-family: Roboto;
    margin-top:0px;
    margin-bottom:0px;
}
.footer .footer1{
    color:rgb(126, 194, 126);
    cursor: pointer;
    padding:10px 10px;
    position: relative;
    font-size:1.2em;
    text-align:center;
    font-family: Roboto;
    margin-top:0px;
    margin-bottom:0px;
}
.skillset .header{
    margin-top:50px;
    margin-right:30px;
    margin-left:0;
    height:60px;
    align-items:center;
    display:flex;
    justify-content:center;
}
.footer{
    margin-top:5px;
    margin-right:10px;
    margin-left:0;
    margin-bottom:70px;
    height:40px;
    width:100%;
    align-items:center;
    display:flex;
    justify-content:center;
}
.skillset .header .header1:hover{
    border:1px outset rgb(143, 245, 206);
    border-radius:25px;
    animation-name:glow;
    animation-duration:3s;
    padding:8px 8px;
}
.skillset .items{
    text-align:center;
    margin-top:28px;
}
.skillset .items .c{
    display: flex;
    height:200px;
    width: 240px;
    float:left;
    flex-direction: column;
    align-items: center;
    margin-right:20px;
    margin-left:10px;
}
.skillset .items .c .circular-progress{
    position:relative;
    height:90px;
    width:90px;
    background: conic-gradient(#89e5f5 216deg,#ededed 0deg);
    margin-top:5px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skillset .items .html .circular-progress{
    position:relative;
    height:90px;
    width:90px;
    background: conic-gradient(#90e7f7 144deg,#ededed 0deg);
    margin-top:5px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skillset .items .python .circular-progress{
    position:relative;
    height:90px;
    width:90px;
    background: conic-gradient(#79e4f7 108deg,#ededed 0deg);
    margin-top:5px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skillset .items .unity .circular-progress{
    position:relative;
    height:90px;
    width:90px;
    background: conic-gradient(#74e0f3 72deg,#ededed 0deg);
    margin-top:5px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skillset .items .JS .circular-progress{
    position:relative;
    height:90px;
    width:90px;
    background: conic-gradient(#70e1f5 36deg,#ededed 0deg);
    margin-top:5px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skillset .items .circular-progress::before{
    content: "";
    position:absolute;
    height:70px;
    width:70px;
    border-radius:50%;
    background-color:rgb(54, 54, 54);
}
.skillset .items .circular-progress:hover{
    animation-name:glow;
    animation-duration:2s;
}
.progress-value{
    color:hsl(184, 68%, 45%);
    font-family: Roboto;
    position:relative;
    font-size:1.6em;
    font-weight:bold;
    padding:4px 4px;
}
.progress-value:hover{
    animation-name:glow2;
    animation-duration:2.5s;
    color:rgb(14, 226, 14);
}
.skillset .items .text{
    color:hsl(184, 68%, 45%);
    font-family: Roboto;
    cursor:pointer;
    font-weight:bold;
    font-size:1.5em;
    display:flex;
    flex-direction: column;
    width:350px;
    margin-bottom:0px;
    margin-top:10px; 
}
.skillset .items .text2{
    color:rgb(253, 253, 253);
    font-family: Roboto;
    font-size:0.8em;
}
.skillset .items .text3{
    color:rgb(255, 255, 255);
    font-family: Roboto;
    font-size:0.8em;
    margin-top:5px;
}
.skillset .items .text:hover{
    color:hsl(120, 25%, 50%);
    animation-name:glow2,glow3,glow4;
    animation-duration:2s
}
.skillset .items .text3:hover{
    color:hsl(120, 66%, 66%);
    animation-name:glow2,glow3,glow4;
    animation-duration:3s;
    animation-iteration-count: infinite;
}
.skillset .items .html{
    display: flex;
    height:200px;
    width: 240px;
    float:left;
    flex-direction: column;
    align-items: center;
    margin-right:20px;
}
.skillset .items .JS{
    display: flex;
    height:200px;
    width: 240px;
    float:left;
    flex-direction: column;
    align-items: center;
    margin-right:20px;
}
.skillset .items .python{
    display: flex;
    height:200px;
    width: 240px;
    float:left;
    flex-direction: column;
    align-items: center;
    margin-right:20px;
}
.skillset .items .unity{
    display: flex;
    height:200px;
    width: 240px;
    float:left;
    flex-direction: column;
    align-items: center;
    margin-right:20px; 
}
.head{
    color:hsl(107, 37%, 65%);
    margin-top:60px;
    text-align: center;
    font-size: 2.4em;
    font-family: Roboto;
    cursor:pointer;
    font-weight:bold;
    margin-right:10px;
    margin-bottom:0px;
}
.head:hover{
    animation-name:slideup1;
    animation-duration:2s;
}
.about{
    margin-bottom:0px;
    width:50%;
    float:left;
    height:auto;
    padding:60px;
    display:flex;
    flex-wrap:wrap;
}
.editable{
    font-size:1.1em;
    font-weight: bold;
    color:hsl(78, 75%, 61%)
}
#intro .editable1{
    font-size:1.1em;
    font-weight: bold;
    color:hsl(78, 60%, 50%)
}
#intro a{
    text-decoration:none;
}
#intro a:hover{
    animation:underline 6s;
}
#intro{
    flex-basis:55%
}
#education{
    flex-basis:44%;
}
.container{

}
.about h2{
    color:hsl(108, 59%, 62%);
    font-size: 2.1em;
    font-family: Roboto;
    margin-top:0px;
    margin-bottom:15px;
    cursor:pointer;
    margin-left:160px;
}
.about h2:hover{
    animation-name:slideup1;
    animation-duration:2s;
}
#intro p{
    color:white;
    text-align:left;
    font-size: 1.25em;
    font-family: Roboto;
}
.about .tabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    font-family: sans-serif;
    margin-left:5px;
}
.tabs__label{
    padding: 2px 20px;
    cursor: pointer;
    color:hsl(0, 22%, 96%);
    font-size:1.7em;
    margin-right:1px;
    margin-left:1px;
    font-family:Roboto;
}
.tabs__radio {
    display: none;
}
  
.tabs__content{
    order: 1;
    width: 100%;
    line-height: 1.5;
    display: none;
    color:hsl(0, 6%, 91%);
    font-size:1em;
    font-family: Roboto;
}
.tabs__content .level1{
    color:white;
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
}
.tabs__content .level1 h1{
    color:white;
    font-size:1.7em;
}
.tabs__content .level1 #per{
    margin-left:5px;
    margin-top:28px;
    padding:2px 2px;
    text-align: bottom;
    align-items: bottom;
    height:30px;
}
.tabs__radio:checked + .tabs__label{
    font-weight: bold;
    color: hsl(83, 52%, 53%);
    border-bottom: 3px solid hsl(83, 52%, 53%);
    animation:slideup1 3s infinite;
}
.tabs__radio:checked + .tabs__label + .tabs__content{
    display: initial;
}
.title h2{
    font-size:2.2em;
    font-family:sans-serif;
    text-align:center;
    clear:both;
    color:hsl(107, 37%, 65%);
}
.title h2:hover{
    animation-name:slideup1;
    animation-duration:2s;
}
.projects .contents{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    font-family: Roboto;
    margin-left:350px;
    margin-right:100px;
    margin-bottom:0px;
    justify-content: center;
}
.projects .contents .tabs__label{
    padding: 2px 40px;
    cursor: pointer;
    color:hsl(0, 22%, 96%);
    font-size:1.7em;
    margin-right:1px;
    font-family:Roboto;
}
.projects .contents .tabs__radio:checked + .tabs__label{
    font-weight: bold;
    color: hsl(83, 52%, 53%);
    border-bottom: 3px solid hsl(83, 52%, 53%);
    animation:slideup1 3s infinite;
}
.projects .contents .tabs__content .level2 h1{
    color:white;
    font-size:1.4em;
    text-align:center;
}
#per2{
    padding:2px 2px;
    font-size:1.2em;
}
#per2 a{
    padding:2px 2px;
    font-size:1.2em;
    text-decoration: none;
    color:hsl(0, 20%, 96%);
}
#per2 a:hover{
    animation: underline 6s;
    color:rgb(142, 184, 104);
}
#points li::marker{
    content:"⁓";
}
.contactme .socialmedia{
    display:flex;
    float:left;
    margin-left:100px;
    height:200px;
    width:400px;
    flex-wrap:wrap;
}
.contactme h1{
    color:rgb(166, 206, 129);
    font-size:1.7em;
    width:100%;
    margin-bottom:0px;
    font-family:Roboto;
}
.socialmedia .icons{
    text-align:center;
    margin-top:30px;
}
.socialmedia .icons a{
    text-decoration:none;
    margin-right:80px;
}
.Mails .icons{
    display:flex;
    text-align:center;
    margin-top:10px;
    margin-left:0px;
}
.Mails .icons a{
    text-decoration:none;
    margin-right:20px;
}
.contactme .Mails{
    color:rgb(166, 206, 129);
    display:flex;
    flex-wrap:wrap;
    float:right;
    margin-right:460px;
    height:250px;
    width:250px;
}
@keyframes glow{
    50%{box-shadow: 0px 0px 25px hsl(130, 74%, 67%)}
}
@keyframes slideup{
    50%{transform:translateY(-2px)}
}
@keyframes glow2{
    50%{color:rgb(14, 226, 14)}
}
@keyframes glow3{
    50%{color:rgb(75, 187, 75)}
}
@keyframes glow4{
    50%{color:rgb(53, 145, 53)}
}
@keyframes slideup1{
    50%{transform:translateY(-4px)}
}
@keyframes rotateY{
    100%{transform:rotateY(360deg)}
}
@keyframes rotateX{
    100%{transform:rotateX(360deg)}
}
@keyframes fade{
    50%{opacity:100%}
}
@keyframes conicgrad{
    0%{background: conic-gradient(hsla(91, 58%, 60%, 0.856) 217deg,#ededed 0deg);}
    20%{background: conic-gradient(hsla(91, 58%, 60%, 0.856) 218deg,#ededed 0deg);}
    40%{background: conic-gradient(hsla(91, 58%, 60%, 0.856) 219deg,#ededed 0deg);}
    60%{background: conic-gradient(hsla(91, 58%, 60%, 0.856) 220deg,#ededed 0deg);}
    80%{background: conic-gradient(hsla(91, 58%, 60%, 0.856) 221deg,#ededed 0deg);}
    100%{background: conic-gradient(hsla(91, 58%, 60%, 0.856) 222deg,#ededed 0deg);}
}
@keyframes underline{
    0%{text-decoration:underline rgb(220, 247, 123)}
    10%{text-decoration:underline rgb(163, 204, 49)}
    20%{text-decoration:underline rgb(187, 241, 125)}
    30%{text-decoration:underline rgb(131, 184, 71)}
    40%{text-decoration:underline rgb(120, 228, 99)}
    50%{text-decoration:underline rgb(14, 216, 58)}
}
@media screen and (max-width:820px) {
    .navbar{
        display: none;
    }
    .about{
        flex-basis: 100%;
    }/*
    #Skills{
        padding-top: 40px;
        user-select: none;
    }
    .tab_header:checked+.tab_label+.tab-contents{
        flex-wrap: wrap;
        justify-content: center;
    }
    .col, .projectimg,.projecttxt{
        flex-basis: 100%;
    }
    .projectimg img{
        width: 100%;
    }
    .tab_header2:checked+.tab_label2+.tab-contents2{
        justify-content: center;
        margin-bottom: 50px;
    }
    .othermeans, .mail{
        flex-basis: 100%;
    }*/

}
